* {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Courier New";
    text-align: center;
    animation: fadeIn 1s;
}

html {
    background: url("media/tileBackground.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    background-color: rgba(0,0,0, 0.8);
    color: white;
    width: 70%;
    margin: 3% 15%;
    padding: 10px;
}

header {
    padding: 15px;
    text-decoration: underline;
    font-size: 1.6rem;
    font-weight: bold;
    color: goldenrod;
}

/* Styling for point buy */

.rules {
    width: 90%;
    margin: 0 5%;
}

.main_frame {
    display: flex;
    border: 2px white dashed;
    margin: 2.5%;
}

.frame {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    text-decoration: underline;
}

.stat {
    text-align: center;
}

.adjust {
    margin: 6px 0;
}

#pointsRemaining {
    text-align: center;
}

.total {
    color: lightseagreen;
    width: 300px;
    font-size: 1.5rem;
}

span {
    margin: 5px;
}

.race {
    margin: 3px 10px;
}

.playerChoice,
.playerChoice2{
    display: none;
    margin: 5px;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 100%; }
}

.decrease {
    background: darkred;
    margin: 6px 5%;
}

.increase {
    background: darkgreen;
    margin: 6px 5%;
}

/* Styling for roll method */

#pointRoll {
    display: flex;
    justify-content: space-around;
}

#rollScores {
    display: none;
    margin: 10% 0;
}

.rollStat {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.rollStat span {
    height: 20px;
}

.buff {
    display: block;
}

.adjust {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

button {
    cursor: pointer;
    background: slategrey;
    color: gold;
    border-radius: 4px;
    border: 1px solid black;
    text-shadow: 1px 1px darkgoldenrod;
}

@media only screen and (max-width: 1100px) {

    body {
        width: 100%;
        margin: 3% 0;
    }

    .adjust {
        width: 100%;
    }

}
