* {
    font-size: 1.4rem;
    font-family: "Courier New";
    text-align: center;
}

body {
    background-color: darkslategray;
    color: white;
    width: 90%;
    margin: 15px 10%;
}

header {
    padding: 15px;
    text-decoration: underline;
    font-size: 1.6rem;
    font-weight: bold;
    color: goldenrod;
}

.rules {
    border: 2px solid darkred;
}

.main_frame {
    display: flex;
    width: 95%;
    border: 2px white dashed;
    margin: 2.5%;
}

.frame {
    display: flex;
    flex-direction: column;
    min-width: 210px;
    width: 30%;
}

.label {
    text-decoration: underline;
}

.stat {
    text-align: left;
}

.adjust {
    margin: 6px;
}

.total_frame_desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-decoration: 2px goldenrod underline;
}

.total_frame_mobile {
    width: 80%;
    margin: 10px 10%;
    text-decoration: 2px goldenrod underline;
    display: none;
}

.m_totals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#pointsRemaining {
    text-align: center;
}

.total {
    color: ghostwhite;
}

span {
    padding: 5px;
    margin: 5px;
}

.race {
    margin: 10px;
}

.playerChoice,
.playerChoice2{
    display: none;
    margin: 5px;
}

.decrease {
    background: darkred;
}

.increase {
    background: darkgreen;
}

@media only screen and (max-width: 900px) {
    html {
        min-width: 650px;
    }

    .main_frame {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border: none;
    }

    .frame,
    .total_frame {
        min-width: 250px;
        margin: 10px;
    }

    .total_frame_desktop {
        display: none;
    }

    .total_frame_mobile {
        display: block;
    }
}
