* {
    font-size: 1.25rem;
    font-family: "Courier New";
    text-align: center;
}

body {
    background-color: darkslategray;
    color: white;
}

header {
    padding: 15px;
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: bold;
    color: goldenrod;
}

.rules {
    font-size: 0.5rem;
    list-style-type: none;
    border: 2px solid darkred;
}

ul {
    list-style-type: none;
}

.main_frame {
    display: flex;
    width: 95%;
    border: 2px white dashed;
    margin: 2.5%;
}

.frame {
    display: flex;
    flex-direction: column;
    min-width: 210px;
    width: 30%;
}

.label {
    text-decoration: underline;
}

.stat {
    text-align: left;
}

.adjust {
    margin: 6px;
}

.total_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.total {
    color: darkgoldenrod;
}

span {
    padding: 5px;
    margin: 5px;
}

.race {
    margin: 10px;
}

.playerChoice,
.playerChoice2{
    display: none;
    margin: 5px;
}

@media only screen and (max-width: 720px) {
    html {
        min-width: 650px;
    }

    .main_frame {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border: none;
    }
    .frame,
    .total_frame {
        min-width: 250px;
        margin: 10px;
    }

    .total_frame {
        border: 2px dashed white;
    }

}
